<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="lidar_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lidar_frame"/>
        <origin xyz="0.18 0 0.15" rpy="0 0 0"/>
    </joint>
    <link name="lidar_frame">
        <visual>
            <origin xyz="0 0 -0.08" rpy="0 0 0"/>
            <geometry><cylinder radius="0.05" length="0.04"/></geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="link2"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </joint>
    <link name="imu_link">
        <visual>
            <geometry><box size="0.02 0.02 0.01"/></geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
        </visual>
    </link>

    <gazebo reference="lidar_frame">
        <material>Gazebo/Gray</material>
        <sensor name="lidar_sensor" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize> 
            <update_rate>10.0</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>12.0</max>
                    <resolution>0.015</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_ray_sensor" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <remapping>~/out:=scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="imu_link">
        <material>Gazebo/Gray</material>
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="gazebo_ros_imu_sensor">
                <ros>
                    <remapping>~/out:=imu/data</remapping>
                </ros>
                <frame_name>imu_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>